<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="http://r01.higoushenqi.com/base/other/bootstrap/css/bootstrap.css">
</head>
<body>


<div id='app' class="container">
	<h1>axios</h1>
	<a href="javascript:;" class="btn btn-primary" @click="get">Get请求</a>
	<a href="javascript:;" class="btn btn-primary" @click="post">Post</a>
	<div>
		{{msg}}
	</div>
</div>

<script src='node_modules/vue/dist/vue.min.js'></script>
<script src='node_modules/axios/dist/axios.js'></script>
<script type="text/javascript">
	new Vue({
		el:"#app",
		data:{
			msg:""
		},
		methods:{
			get(){
        console.log(1);
        axios.get("package.json",{
          params:{
            userId:"101"
          },
          headers:{
            token:"lzy"
          }
        }).then(res=>{
          this.msg = res.data;
        }).catch(error=>{
          this.msg = error;
        })
      },
      //post请求第二个参数是 传参的内容，第三个参数是选项
      post(){
        this.msg = ""
      }
		}
	})
</script>
</body>
</html>
