<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="http://r01.higoushenqi.com/base/other/bootstrap/css/bootstrap.css">
</head>
<body>


<div id='app' class="container">
	<h1>vue-resource</h1>
	<a href="javascript:;" class="btn btn-primary" @click="get">Get请求</a>
	<a href="javascript:;" class="btn btn-primary" @click="post">Post</a>
	<a href="javascript:;" class="btn btn-primary" @click="jsonp">JsonP请求</a>
	<div>
		{{msg}}
	</div>
</div>

<script src='node_modules/vue/dist/vue.min.js'></script>
<script src='node_modules/vue-resource/dist/vue-resource.js'></script>
<script type="text/javascript">
var obj = {}
console.log(obj);

	new Vue({
		el:"#app",
		data:{
			msg:""
		},
		methods:{
			get(){
        //get请求第二个参数是选项，传参必须用params
        this.$http.get("package.json",{
          params:{
            userId:"101"
          },
          headers:{
            get_token:"lzy"
          }
        }).then(res=>{
          this.msg = res.data;
        },error=>{
          this.msg = error;
        })
      },
      //post请求第二个参数是 传参的内容，第三个参数是选项
      post(){
        this.$http.post("package.json",{
          userId:"102"
        },{
          headers:{
            post_token:"bhl"
          }
        }).then(res=>{
          this.msg = res.data;
        },error=>{
          this.msg = error;
        })
      },
      jsonp(){
        //jsonp请求是通过script标签的src属性发送get请求，这里第二个参数是选项，传参必须用params
        this.$http.jsonp("http://www.imooc.com/course/ajaxskillcourse?cid=796",{
          params:{
            userId:"103"
          }
        }).then(res=>{
          this.msg = res.data;
      },error=>{
          this.msg = error;
        })
      }
		}
	})
</script>
</body>
</html>
