<!--商品列表-->

<template>
  <div>
    <nav-header></nav-header>
    <nav-bread>
      <span slot="goods">goods</span>
    </nav-bread>
    <div class="accessory-result-page accessory-page">
      <div class="container">
        <div class="filter-nav">
          <span class="sortby">Sort by:</span>
          <a href="javascript:void(0)" class="default cur">Default</a>
          <a href="javascript:void(0)" class="price">Price
            <svg class="icon icon-arrow-short">
              <use xlink:href="#icon-arrow-short"></use>
            </svg>
          </a>
          <a href="javascript:void(0)" class="filterby stopPop" @click="ShowFilterBy">Filter by</a>
        </div>
        <div class="accessory-result">
          <!-- filter -->
          <div class="filter stopPop" id="filter" :class="{'filterby-show':filterbyShow}">
            <dl class="filter-price">
              <dt>Price:</dt>
              <dd><a href="javascript:void(0)" v-bind:class="{'cur':priceChecked=='all'}" @click="chosePriceAll">All</a></dd>
              <dd v-for="(price,index) in priceFilter">
                <a href="javascript:void(0)" v-bind:class="{'cur':priceChecked==index}" @click="chosePrice(index)">{{price.startPrice}} - {{price.endPrice}}</a>
              </dd>

            </dl>
          </div>

          <!-- search result accessories list -->
          <div class="accessory-list-wrap">
            <div class="accessory-list col-4">
              <ul>
                <li v-for="(item,index) in goodsList">
                  <div class="pic">
                    <a href="#"><img v-lazy="'/static/'+item.productImg" alt=""></a>
                  </div>
                  <div class="main">
                    <div class="name">{{item.productName}}</div>
                    <div class="price">{{item.productPrice}}</div>
                    <div class="btn-area">
                      <a href="javascript:;" class="btn btn--m">加入购物车</a>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='md-overlay' v-show="overlay" @click="overlayHide"></div>
    <nav-footer></nav-footer>
  </div>
</template>

<script>
  //  导入样式
  import "./../assets/css/base.css"
  import "./../assets/css/product.css"
  import "./../assets/css/login.css"

  //  导入组件
  import NavHeader from "@/components/NavHeader"
  import NavFooter from "@/components/NavFooter";
  import NavBread from "@/components/NavBread";

  import axios from "axios";

  export default{
    data(){
      return {
        goodsList: [],
        priceFilter:[
          {
            startPrice:"0.00",
            endPrice:"500.00"
          },
          {
            startPrice:"500.00",
            endPrice:"1000.00"
          },
          {
            startPrice:"1000.00",
            endPrice:"2000.00"
          }
        ],
        priceChecked:"all",
        filterbyShow:false,
        overlay:false
      }
    },
    components: {
      NavHeader,
      NavFooter,
      NavBread
    },
//    初始化
    mounted: function () {
      this.getGoodsList();
    },
    methods: {
      getGoodsList(){
        axios.get("goods").then((result) => {
          var res = result.data;
          this.goodsList = res.result;
        })
      },
//      点击选择价格
      ShowFilterBy(){
        this.filterbyShow = true;
        this.overlay = true;
      },
//      点击遮罩层
      overlayHide(){
        this.filterbyShow = false;
        this.overlay = false;
      },
//      选择价格--all
      chosePriceAll(){
        this.priceChecked = "all";
        this.overlayHide();
      },
//      选择价格
      chosePrice(index){
        this.priceChecked = index;
        this.overlayHide();
      }
    }
  }
</script>
