
<!--面包屑-->

<template>
  <div class="nav-breadcrumb-wrap">
    <div class="container">
      <nav class="nav-breadcrumb">
        <a href="/">Home</a>
        <slot name='goods'></slot>
      </nav>
    </div>
  </div>
</template>
